/* my css of coffee time */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 62.5%; */
}

body{
  font-family: 'Comic Neue',cursive;
}

/* nav code */

.nav-menu{
  padding: 10px;
}

.navbar .fas{
  color: #dbc1ac;
}
.menu{
  font-size: 20px;
  color: #dbc1ac;
  transition: all 1s;
  font-weight: 600;
  font-style: italic;
}

.menu:hover{
  color: gold;
  letter-spacing: 1.3px;
}

.bar1,.bar2,.bar3{
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 4s;
}

.navbar-toggler{
  outline: none;
}
.navbar{
  transition: 1s ease;
  /* background:transparent; */
}
.navbar.scrolled{
  background-color: #634832;
}
/* header  code */
header{
  height: 100vh;
  background: radial-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.5) ), url('./images/coffee-shop-1209863_1280.jpg') no-repeat center center/cover;
}

.banner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
}

.heading{
  animation-name: slide;
  animation-duration: 2s;
  font-size: 3.5rem;
  letter-spacing: 5px;
}

.heading span{
  color: gold;
  font-style: italic;
  font-weight: bolder;
  font-size: 6.5rem;
}

.main{
  animation: slide;
  animation-duration: 2s;
  animation-delay: .5s;
  font-style: oblique;
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.headerimg img{
  height: 150px;
  width: 100px;
}

.headerimg{
  margin-bottom: 2rem;
}

.headerbtn{
  /* color: rgb(255, 255, 255) !important; */
  font-weight: bold; 
  animation:fadeIn;
  animation-duration: 4.0s;
  width: 10rem;
  height: 3.5rem;
  font-size: 1.5rem; 
  border-radius: 1rem;
  margin-top: 3rem;   
}

@keyframes slide{
  0%{ 
      transform: translateY(-1000px);
      opacity: 0;
  }
  100%{
      transform: translateY(0px);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
      opacity: 0.25;
    }
  50%{
      opacity: 0.50;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}


#explore span{
  font-family: 'Dancing Script', cursive;
  color: #5a4433;
  font-style: italic;
  font-weight: 600;
}

#explore a {
  color: #5a4433; 
  text-decoration: none; 
  border-bottom: 2px solid #5a4433;
}

#explore h2{
  font-weight: bolder;
  font-family: 'Times New Roman', Times, serif;

}

/* .exploreimg{
  animation: slideright;
  animation-duration: 3s;
  animation-delay: 1.5s;
} */


/* @keyframes slideright{
  0%{ 
      transform: translateX(1000px);
      opacity: 0;
  }
  100%{
      transform: translateX(0px);
      opacity: 1;
  }
} */


/* about code  */

#about{
  background: #000;
  margin-top: 20px;
 
}
#about p{
  color: #ebab77;
}
#about h1{
  color: #5a4433;
  font-style: italic;
}

#about a{
  color: #fff;
  padding: 0;
}

#about .btn{
  border: 2px solid #634832;
  background-color: #000;
  transition: all 0.5s ease-in;
  padding: 10px;
}

#about .btn:hover{
  background-color: #fff;
  color:#634832;
  font-weight: bold;
}

.aboutimages{
  position: relative;
}

.aboutimg{
  position: absolute;
  width: 150px;
  transition: all 1s ease;
  opacity: 0.8;
}

.img1{
  left: 0%;
  top: 0%;
}
.img2{
  left: 20%;
  top: 23%;
  z-index: 10;
}
.img3{
  left: 40%;
  top: 48%;
  /* z-index: 20; */
}
.img4{
  left: 40%;
  top: 0%;
}
.img5{
  left: 0%;
  top: 45%;
}

.img1:hover{
  transform: rotate(10deg);
  z-index: 30;
  border: 7px solid #5a4433;
  padding: 11px;
}

.img2:hover{
  transform: rotate(10deg);
  z-index: 30;
  border: 7px solid #5a4433;
  padding: 11px;
}
.img3:hover{
  transform: rotate(10deg);
  z-index: 30;
  border: 7px solid #5a4433;
  padding: 11px;
}
.img4:hover{
  transform: rotate(10deg);
  z-index: 30;
  border: 7px solid #5a4433;
  padding: 11px;
}
.img5:hover{
  transform: rotate(10deg);
  z-index: 30;
  border: 7px solid #5a4433;
  padding: 11px;
}

#topcat{
  background-color: #fae8db;
}

.topcatheader{
  border: 2px solid #5a4433;
  margin-right: 2px;
  border-radius: 10%;
  background-color: #fff;
}

.topcatheader h4{
  font-weight: bold;
  margin-top: 15px !important;
}

.topcatheader p {
  color: gray;
  opacity: 0.8;
}

.topcatheading{
  margin-top: 60px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.catimg{
  height: 500px;
  margin-right: 30px;
  margin-top: 15px;
  padding-top: 200px;
  width: 300px;
  border-radius: 20%;
  opacity: 0.9;
  
}

.catimg h3{
  font-size: 35px;
  font-style: italic;
  padding-bottom: 8px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

hr{
  height: 4px !important;
  color: white;
  opacity: 0.8;
  width: 50%;
}

.catimg a{
  color: #ffffff;
  text-decoration: none;
  border: none;
  transition: all 0.5s;
  padding-bottom: 4px;
}

.catimg a:hover{   
  border-bottom: 2px solid gold;
}


#catimg1{
  background: url('./images/nathan-dumlao-JLPoB3Gahcc-unsplash.jpg') no-repeat center center/cover;
  background-position: bottom center;
  filter:drop-shadow(8px 8px 10px #5a4433);
  transition: all 1s;
}
#catimg1:hover , #catimg2:hover , #catimg3:hover{
  transform: scale(0.9);
  filter:drop-shadow(8px 8px 10px #ffffff);
  z-index: 10;
}
#catimg2{
  background: url('./images/nathan-dumlao-llib1mkWXlE-unsplash.jpg') no-repeat center center/cover;
  filter:drop-shadow(8px 8px 10px rgb(179, 178, 176));
  transition: all 1s;
}

#catimg3{
  background: url("./images/tabitha-turner-F0Wd4djYvSA-unsplash.jpg") no-repeat center center/cover;
  background-position: top left;
  filter:drop-shadow(8px 8px 10px #5a4433);
  transition: all 1s;
}

/* contact code  */

#contact{
  background-color: #f0e9da;
}

.contactbtn{
  font-size: 35px;
  font-weight: 800;
  transition: all 0.5s;
}

.contactbtn:hover{
  border-bottom: 3px solid #5a4433;
}

.outer-frame{
  padding: 3px;
  border: 2px solid black;
}

.inner-frame{
  padding: 3px;
  border: 1px solid rgb(77, 74, 74);
}


/* form styling  */

#contact input,#contact textarea{
  padding: 5px !important;
  border-radius: 10px !important ;
  background-color: #f0e9da !important;
  color: #000000 !important;
  border: 2px solid #634832 !important;
  box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.6);
}

#contact ::placeholder{
  color: #ea9044 !important;
  opacity: 0.8 !important;
}

.contactHeading{
  color: #ea9044;
  font-size: 60px;
  font-style: italic;
  font-weight: 800;
  margin-bottom: 30px;
}

#contact .fas{
  color: #ea9044;
  margin-right: 5px;
}


/* products code  */

#products{
  background-color: #f0e9da;
}

.nav-item .btn{
  border: none;
  margin-right: 15px;
  padding: 15px;
  background-color: #fff;
  color: gray;
  width: 130px;
}
.productheading{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 45px;
}
/* .nav-tabs{
  border: none;
  outline: none;
} */
.nav-item .btn:hover , .nav-item .btn:focus{
  color: #fff;
  background-color: #c7a17a;
}

.tab-content{
  margin-top: 20px;
  padding: 5px;
}

/* top products  */

.featured{
  height: 400px;
  margin-right: 20px;
  margin-top: 15px;
  width: 300px;
  background-color: #fff;
  cursor: pointer;
}

.featured button{
  display: flex; 
  justify-content: start;
  background-color: #5a4433;
  color: #fff;
}

.featured img{
  /* margin-top: 20px; */
  height: 150px;
  width: 100px;
}

.star .far{
  color: #ebab77;
  padding: 2px;
}

.star p{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  font-style: italic;
}

.cartprice p{
  font-weight: 800;
  
}




/* Registration us page css  */
.register{
  height: auto;
  margin-top: 60px;
  
}

.frame{
  padding-top: 20px;
  border-radius: 20px;
  padding-bottom: 10px;
  background-color: rgb(255, 255, 255); 
  box-shadow: 3px 3px 15px 0px grey;
}

.register img{
  height : 80vh;
  border-radius:20px;
}


.register input{
  margin-bottom: 20px;
   border-radius: 20px;
   border: 2px solid #5a4433;
   width: 450px;
   height: 50px;
   padding-left: 10px;
  }
  
.register input:focus {
   outline: none;
}

.register ::placeholder{
  font-size: large;
  color: #ea9044 !important;
  opacity: 0.8 !important;
}

.register .registerbtn{
  border-radius: 20px;
  width:20%;
  margin-right: 10px;
  height: 35px;
  text-align: center;
  font-size:1.3rem;
  background-color: rgb(46,19,13);
  border: 3px solid rgb(46,19,13);
  color: #fff;
}

.register .registerbtn:hover{
  background-color: rgb(70, 35, 27) ;
}

.register .loginbtn{
  border-radius: 20px;
  width:20%;
  height: 35px;
  text-align: center;
  font-size:1.3rem;
  font-weight: bolder;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(46,19,13);
  color: rgb(46,19,13) ;
}

.title img{
  height:100px;
  width:100px;
}

.title h1{
  font-size: 50px;
  font-style: italic;
  color: #5a4433;
  font-weight: bold;
}


#notfound {
  position: relative;
  height: 90vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  background: rgb(160, 160, 160);
  border-radius: 20px;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}